*{
  margin: 0;
}

@font-face{
  font-family: "f1";
  src: url(/fontes/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "f2";
  src: url(/fontes/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "f4";
  src: url(/fontes/Ultra-Regular.ttf);
}

@font-face {
  font-family: "f5";
  src: url(/fontes/SpectralSC-Medium.ttf);
}

body{
    background-image: url('/Projeto/midia/coresazuis.png');
    background-size: cover;
    background-position: center;
}

.acervo{
  display: flex;
  background-color: #133CC2;
  justify-content: center;
  font-family: f5;
}

.acervo p{
  margin-bottom: auto;
  font-weight: bold;
  color: #F6A900;
  padding: 10px;
}

fieldset{
  font-family: f2;
  background-color: white;
}

header{
    text-align: center;
    margin-bottom: 100px;
    background-color: #0C30A6;
    color: #F6A900;
    font-family: f1;
}

.bg-color-aqua{
  background-color: #2D4EBD;
}

.centraliza{
  display: flex;
  justify-content: center;
}

.navegation{
    display: flexbox;
}

.log{
    text-align: center;
    background-color: white;
    padding: 25px;
    width: 50%;
    display: flexbox;
    justify-content: center;
    border-radius: 7px;
}

.disp{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.link{
    text-decoration: none;
    color: #F6A900;
}

.link2:hover{
    background-color: aquamarine;
    text-decoration: underline;
}

.dp-menu{
  padding-bottom: 1px;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dp-menu ul {
    background-color:#0C30A6;
  }
  
  .dp-menu ul li {
    display: inline;
    position: relative;
  }
  
  .dp-menu ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .5s;
  }
  
  .dp-menu ul li a:hover {
    background-color: rgb(0, 247, 255);
  }

  .altura{
    max-height: 400px;
    width: 500px;
  }

